<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Face OFF!!</title>
</head>

<body class="bg-black flex text-white ">
    <div class="flex overflow-x-scroll hide-scroll-bar">
        <div class="flex flex-nowrap space-x-5 ">
            <div class="flex flex-col space-y-5">
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div class="my-auto mx-auto">
                        <span class="text-5xl py-2">
                        😃
                        </span>
                        <br>
                        Happy
                    </div>
                </div>

                {%for i in range(0, 3)%}
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img class="rounded-md object-fill h-full" src="{{ url_for('static', filename=images_map['happy'][i]) }}"
                        alt="empty space" width="300" class="p-2">
                </div>
                {%endfor%}
            </div>

            <div class="flex flex-col space-y-5">
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div class="my-auto mx-auto">
                        <span class="text-5xl py-2">
                    ☹️
                        </span>
                        <br>
                        Sad
                    </div>
                </div>
                {%for i in range(0, 3)%}
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img class="rounded-md object-fill h-full" src="{{ url_for('static', filename=images_map['sad'][i]) }}"
                        alt="empty space" width="300" class="p-2">
                </div>
                {%endfor%}
            </div>


            <div class="flex flex-col space-y-5">
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div class="my-auto mx-auto">
                        <span class="text-5xl py-2">
                            😠
                        </span>
                        <br>
                        Angry
                    </div>
                </div>
                {%for i in range(0, 3)%}
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img class="rounded-md object-fill h-full" src="{{ url_for('static', filename=images_map['angry'][i]) }}"
                        alt="empty space" width="300" class="p-2">
                </div>
                {%endfor%}
            </div>

            <div class="flex flex-col space-y-5">
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div class="my-auto mx-auto">
                        <span class="text-5xl py-2">
                            😱
                        </span>
                        <br>
                        Fear
                    </div>
                </div>
                {%for i in range(0, 3)%}
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img class="rounded-md object-fill h-full" src="{{ url_for('static', filename=images_map['fear'][i]) }}"
                        alt="empty space" width="300" class="p-2">
                </div>
                {%endfor%}
            </div>

            <div class="flex flex-col space-y-5">
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div class="my-auto mx-auto">
                        <span class="text-5xl py-2">
                            😲
                        </span>
                        <br>
                        Surprise
                    </div>
                </div>
                {%for i in range(0, 3)%}
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img class="rounded-md object-fill h-full" src="{{ url_for('static', filename=images_map['surprise'][i]) }}"
                        alt="empty space" width="300" class="p-2">
                </div>
                {%endfor%}
            </div>

            <div class="flex flex-col space-y-5">
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div class="my-auto mx-auto">
                        <span class="text-5xl py-2">
                            🤢
                        </span>
                        <br>
                        Disgust
                    </div>
                </div>
                {%for i in range(0, 3)%}
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img class="rounded-md object-fill h-full" src="{{ url_for('static', filename=images_map['disgust'][i]) }}"
                        alt="empty space" width="300" class="p-2">
                </div>
                {%endfor%}
            </div>

            <div class="flex flex-col space-y-5">
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <div class="my-auto mx-auto">
                        <span class="text-5xl py-2">
                            😐
                        </span>
                        <br>
                        Neutral
                    </div>
                </div>
                {%for i in range(0, 3)%}
                <div
                    class="w-64 flex h-64 max-w-xs items-center overflow-hidden text-3xl text-center rounded-lg shadow-md bg-slate-700  hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <img class="rounded-md object-fill h-full" src="{{ url_for('static', filename=images_map['neutral'][i]) }}"
                        alt="empty space" width="300" class="p-2">
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    </div>
    <style>
        .hide-scroll-bar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .hide-scroll-bar::-webkit-scrollbar {
            display: none;
        }
    </style>
</body>

</html>
