<!DOCTYPE html>
<html>

<head>
  <title>Face OFF!!</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body class="bg-black flex text-white">
    <div class="mx-auto p-10">
        <h1 class="text-center text-3xl my-10 text-slate-100">Leader Board for {{emotion}}</h1>
        <div class="content-evenly grid grid-cols-3  place-items-center p-10">
            {%for i in range(0, 3)%}
                <div class="text-center p-5">
                <img src="{{ url_for('static', filename='images/Nick.jpg') }}" alt="supposed to be Nick" width="300">
                <p class="p-5 text-xl">{{i+1}}. {{names[i]}}: {{scores[i]}}%</p>
                </div>
            {%endfor%}
        </div>
        <div class="mt-5 text-center align-middle ">
        <ol>
            {%for i in range(3, len)%}
            <hr class="border-slate-500">
            <li>
                <div class="place-items-center grid grid-cols-2">
                <img src="{{ url_for('static', filename='images/Nick.jpg') }}" alt="supposed to be Nick" width="300" class="p-2">
                <p class="p-5 text-xl">{{i+1}}. {{names[i]}}: {{scores[i]}}%</p>
                </div>
            </li>
            {%endfor%}
        </ol>
        </div>
    </div>
  </body>
</html>
